*{
    margin: 0;
    padding: 0;
}

h1{
    padding: 20px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    background-color: #3d4d5d;
}
#slider{
    margin-top: 80px;
    margin-left: 450px;
    width: 400px;
    height: 300px;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    color: #ffffff;
    background-size: cover;
    background-image: url('img/img1.jpg');
}
#slider>button>i{
    font-size: 30px;
    cursor: pointer;
}